<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagen.jpeg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 id="nombre">Villalba Alejandro</h3>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h4 id="acerca">Acerca de mí</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, culpa a mollitia quos illo accusamus
                distinctio voluptatum placeat vero laboriosam ducimus, ratione perferendis repellendus ea ipsa quo
                deserunt vel voluptas.</p>
        </span>
    </div>
</div>
